NODE_ENV=development
DISCORD_KEY=<INSERT DISCORD BOT KEY HERE>
WEATHER_KEY=<INSERT OPENWEATHERMAP KEY HERE>
GIPHY_KEY=<INSERT GIPHY API KEY HERE>
GOOGLE_MAPS_KEY=<INSERT GOOGLE MAPS API KEY HERE>
NEWS_KEY=<INSERT NEWAPI.ORG KEY HERE>